html(lang="zh-Hant-TW")
  head
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    //link(rel="stylesheet", href="dist/CSS/reset.css")
    link(rel="stylesheet", href="dist/CSS/style.css")
    script(src="dist/JS/style.js")
  .navbar-fixed
    nav
      div.nav-wrapper
        a.brand-logo(href="#")
          img(src="dist/images/logo.png")
        form.input-field
          input#search(type='search')
          label(for='search') 找尋課程、老師

        ul.right.hide-on-med-and-down
          li
            a(href="#") 找課程
          li
            a(href="#")
              | 排課表
              span.new.badge.flex-container  
          li
            a(href="#", onclick="dropdownFunction()")
              div.photo
            div#dropdown1.dropdownContent
              div.photo
              div.profile
                p(style="font-size: 14px;font-weight: 500") 吳瑋倢
                p(style="font-weight: 100;font-size: 9px") hugecatopmeow@gmail.com
                p 工業與資訊管理學系
                p 四年級
                a(href="#") 前往個人頁面
              div.activeWord
                span ★已啟用小幫手
              div.btn.logout 登出
    body
      section.flex-container
        div.course__icon
          span 加入願望清單
          a(href="#")
            svg(width='18px', height='16px', viewBox='0 0 18 16')
              g(id='Components｜Material-Design', stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                g(id='Material/Icons-black/favorite', transform='translate(-3.000000, -5.000000)', fill='#000000')
                  path#Shape(d='M12,8 C11.33,6.268 9.453,5 7.5,5 C4.957,5 3,6.932 3,9.5 C3,13.029 6.793,15.758 12,21 C17.207,15.758 21,13.029 21,9.5 C21,6.932 19.043,5 16.5,5 C14.545,5 12.67,6.268 12,8 Z')
          br
          span 檢視課程大綱
          a(href="#")
            svg(width='18px', height='22px', viewBox='0 0 18 22')
              g(id='Components｜Material-Design', stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                g(id='Material/Icons-black/content-paste', transform='translate(-3.000000, 0.000000)', fill='#000000')
                  path#ic_5(d='M19,20 L5,20 L5,4 L7,4 L7,7 L17,7 L17,4 L19,4 L19,20 Z M12,2 C12.552,2 13,2.447 13,3 C13,3.553 12.552,4 12,4 C11.448,4 11,3.553 11,3 C11,2.447 11.448,2 12,2 L12,2 Z M19,2 L14.816,2 C14.403,0.838 13.305,0 12,0 C10.696,0 9.597,0.838 9.184,2 L5,2 C3.896,2 3,2.896 3,4 L3,20 C3,21.105 3.896,22 5,22 L19,22 C20.105,22 21,21.105 21,20 L21,4 C21,2.896 20.105,2 19,2 L19,2 Z')
        div.course__body
          .btn 工資 H3-001 
          button.btn.btn__type(type="button", name="button") 人文
          h1 微積分(二)
          .line 
          div.course__body__score
            p 已有666人評分
            div.course__body__score__box
              div.input-group.input-number-group
                span 甜度
                div.input-group-btn
                  div.input-number-decrement 
                input.input-number(type="number",step="1",value="5",min="1",max="10", readonly)
                div.input-group-btn
                  div.input-number-increment 
              div.input-group.input-number-group
                span 涼度
                div.input-group-btn
                  div.input-number-decrement 
                input(type="number",step="1",value="5",min="1",max="10", readonly)
                div.input-group-btn
                  div.input-number-increment 
              div.input-group.input-number-group
                span 推薦
                div.input-group-btn
                  div.input-number-decrement 
                input(type="number",step="1",value="5",min="1",max="10", readonly)
                div.input-group-btn
                  div.input-number-increment 
              button.btn 完成評分
          h4 開課老師     
          p 蕭仁傑、高強、張裕清   
          h4 開課時段
          p [3] 7-8、[5]5-6   
          h4 評量方法
          
          
          .progress 
            .determinate(style="width: 70%; z-index: 2; background-color: #616161") 70%
            .determinate(style="width: 100%; background-color: #757575; z-index:1")
          h4 教學方法
          .progress
            .determinate(style="width: 100%; z-index: 2; background-color: #616161") 100%   
          h4 修課心得
          .comment
            p 老師上得很棒！連重修四年的我都可以輕鬆考一百分，太神啦！   
          .comment
            p 老師上得很棒！連重修四年的我都可以輕鬆考一百分，太神啦！
          .comment
            p 老師上得很棒！連重修四年的我都可以輕鬆考一百分，太神啦！
          .comment
            p 老師上得很棒！連重修四年的我都可以輕鬆考一百分，太神啦！
