html(lang="zh-Hant-TW")
  head
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel="stylesheet", href="dist/CSS/style.css")
  .navbar-fixed
    nav
      div.nav-wrapper
        a.brand-logo(href="#")
          img(src="dist/images/logo.png")
        form.input-field
          input#search1(type='search')
          label(for='search1') 找尋課程、老師
        ul.right.hide-on-med-and-down
          li
            a(href="#") 找課程
          li
            a(href="#")
              | 排課表
              span.new.badge.flex-container  
          li
            a(href="#", onclick="dropdownFunction()")
              div.photo
            div#dropdown1.dropdownContent
              div.photo
              div.profile
                p.profile__name 吳瑋倢
                p(style="font-weight: 100;font-size: 9px") hugecatopmeow@gmail.com
                p 工業與資訊管理學系
                p 四年級
                a(href="#") 前往個人頁面
              div.activeWord
                span ★已啟用小幫手
              div.btn.logout 登出
  body
    div#courseContent(v-show="isShow" @click.self="showContent")
      div.courseContentBody
        div.courseContentBody__left
          span.courseSerial A9-001
          h2(style="margin-top:20px") course_data.課程名稱
          div(style="margin-top:30px").icon-span(@click="")
            i.material-icons.tiny favorite
            span 加入願望清單
          div.icon-span
            i.material-icons.tiny content_paste
            span 檢視課程大綱
          div.courseUnit(style="margin-top:60px")
            h6 開課單位
            h5 course_data1.department
          div.courseUnit
            h6 開課老師
            h5 course_data1.teacher
          div.courseUnit
            h6 開課時段
            h5 course_data1.time
          div.courseUnit
            h6 教學方法
            h5 course_data1.lecture
          div.courseUnit
            h6 評量方法
            h5 course_data1.score
          br
          br
        div.courseContentBody__right
          div
            h4 課程評分(66)
            div
              button.btn.score-btn 甜度 8.7
              button.btn.score-btn 涼度 8.7
              button.btn.score-btn 推薦 8.7
              button.btn.score-btn(style="color:rgb(241,91,94);") 評分
          div
            h4(style="margin-bottom:30px") 課程心得(5)
            div.courseFeedback(v-for="i in 5")
              div.courseFeedback__msg
                p 老師上的很棒！連修了四年都沒過的我都可以輕鬆考一百分，太神啦！
                p 老師上的很棒！連修了四年都沒過的我都可以輕鬆考一百分，太神啦！
              div.courseFeedback__func
                p 15
    div.couse__whole         
      div.courseList__sidenav
        div.courseList__sidenav__courseType
          p 開課單位
          input(type="search") 
          div(id="apitest") 
        div#courseArrange.courseList__sidenav__courseType
          p 檢視選項
          div.courseList__sidenav__option.z-depth-1   
            label
              input.filled-in#commentCheck(type="checkbox" @click="cfilter()")
              span 僅顯示有心得之課程
          div.courseList__sidenav__option.z-depth-1 
            a.dropdown-trigger(href="#" data-target="dropdown1")
              p 依「開課單位」排序
          div.courseList__sidenav__option.z-depth-1
            span 依開課教師
          div.courseList__sidenav__option.z-depth-1(@click="sortByDept()")
            span 依開課單位
          div.courseList__sidenav__option.z-depth-1(@click="")
            span 依課程名稱
        div#wishList.courseList__sidenav__wishList
          p 願望清單
          div.courseList__sidenav__wishList__scroll
            div(v-for="wish in wishList").courseList__sideList__itemBox__item.wishList__item.z-depth-1
              div.circle 
              div.courseList__item
                p {{wish.課程碼}} {{wish.課程名稱}}
                p.courseList__item__info {{wish.老師}} {{wish.時間}}
              div
                span X
          button.btn.courseList__sidenav__courseType.course-btn 加入完成，開始安排課表！
      div.courseList__sideList
        div.card.courseList__sideList__itemBox
          div#course_item
            div(@click.self="courseLink(index)" v-for="(course, index) in course_data").courseList__sideList__itemBox__item
                div.circle 
                  span.circle-content {{course.系所名稱.charAt(0)}}
                div.courseText(style="margin-left: 20px")
                  p {{course.課程名稱}}
                  p(style="font-size: 12px;color:#9e9e9e") {{course.課程碼}} - {{course.老師}}
                div(style="float:right")
                  div.circle.heart-circle(@click="addCourse(index)")
                    i(v-if="heartColor" ).material-icons.tiny favorite
                    i(v-else).material-icons.tiny favorite_border
                  div.circle(style="margin-left:10px;background-color:#eee") 
          
  script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js")            
  script(src="dist/JS/style.js")
